body {
    font-family: sans-serif;
}

img {
    display: block;
    width:15%;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    text-align: center;
}

#input {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button {
    height: 30px;
    width: 125px;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;  
}

#button:hover {
    background-color: black;
    color: white;
}

p {
    text-align: center;
    font-weight: bold;
}